:root {
	--columnsGap: 0;
	--rowsGap: 0;
	--columnsAmount: 1;
	--rowsAmount: 1;
}

.grid {
	display: grid;
	column-gap: calc(var(--columnsGap) * 1px);
	row-gap:  calc(var(--rowsGap) * 1px);
	grid-template-columns: repeat(var(--columnsAmount), minmax(0, 1fr));
	grid-template-rows: repeat(var(--rowsAmount), minmax(0, 1fr));
}
