html, body {
    height: 100%;
}

:root {
	--columnsGap: 0;
	--rowsGap: 0;
	--columnsAmount: 1;
	--rowsAmount: 1;
}

.grid {
	display: grid;
	column-gap: var(--columnsGap);
	row-gap:  var(--rowsGap);
	grid-template-columns: repeat(var(--columnsAmount), 1fr);
	grid-template-rows: repeat(var(--rowsAmount), 1fr);
}
