

.twitter-section h2 {
    text-align: center;
}

.twitter-block {
    display: inline-block;
    width: 48%;
}
.twitter-block__timeline h3 {
    text-align: left;
}
.twitter-block__favorites h3 {
    text-align: right;
}

.twitter-timeline {
    width: 100% !important;
}